################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoDisneyBlog2/bin
/.vs/GoDisneyBlog2/v15/Server/sqlite3
/GoDisneyBlog2/obj
